<div class="search-container">
  <div class="search-content">
    <form name="searchMovie" ng-submit="self.search(self.query)">
      <input type="search" name="name" value="" placeholder="Title" ng-model="self.query" class="std-container">
      <button type="submit" name="name" class="std-container btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
<div class="movie-container" ng-repeat="movie in self.movies" >
  <div class="movie-content">
    <div class="movie-title" ng-bind="movie.title"></div>
    <div class="movie-img-container">
        <img class="movie-img" ng-src="http://image.tmdb.org/t/p/w500{{movie.poster_path}}">
    </div>
    <a href="javascript:;" class="movie-link" ng-click="self.goToMovie(movie.id)"></a>
  </div>
</div>
<div class="pagination-container" ng-if="self.page">
    <a href="javascript:;" ng-click="self.Prev()" ng-hide="self.page<2" class="pagination-nav"> <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    <span class="pagination-current">
      {{self.page}} of {{self.total_pages}}
    </span>
    <a href="javascript:;" ng-click="self.Next()" ng-hide="self.page>self.total_pages-1" class="pagination-nav"> <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
